# Terraform
*.tfstate
*.tfstate.backup
.terraform/
.terraform*
terraform.tfvars

# Python
__pycache__/
*.pyc

# Logs
*.log

# OS junk
.DS_Store


# terraform secrets
infra/terraform-ecs/secrets.tfvars
