apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
spec:
  replicas: 2
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
        - name: frontend
          image: "{{ .Values.frontendImage }}"
          ports:
            - containerPort: 80

        - name: backend
          image: "{{ .Values.backendImage }}"
          ports:
            - containerPort: 5000

      imagePullSecrets:
        - name: ghcr

