apiVersion: v1
kind: Service
metadata:
  name: webapp
spec:
  selector:
    app: webapp
  ports:
    - name: http-frontend
      port: 80
      targetPort: 80

    - name: http-backend
      port: 5000
      targetPort: 5000

