apiVersion: v1
kind: Service
metadata:
  name: webapp
  labels:
    app: webapp

spec:
  selector:
    app: webapp

  ports:
  - name: http-frontend
    port: 80
    targetPort: 80

  - name: http-backend
    port: 8000
    targetPort: 8000

  type: ClusterIP

